.app {
  height: 100%;
  padding: 20px;
  background-color: #fff;
}

.app-content {
  height: 100%;
  margin-right: 20px;
  padding: 20px;
  background-color: #eee;
}

.app-sider {
  padding: 20px;
  background-color: #eee;
}